body{
    font-family: "DM Sans", sans-serif;
}
*{
    box-sizing: border-box;
}
label{
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 500;
    color:#2B3674;
}
input:focus,select:focus,textarea:focus{
    box-shadow: none !important;
    border: 1px solid #4318FF !important;
}
input[type="text"],input[type="email"],input[type="color"],input[type="date"],select{
    border-radius: 22px !important;
}
input[type="color"]{
    height: 40px !important;
}
input[type="radio"]:checked,input[type="checkbox"]:checked{
    accent-color: red !important;
    background-color: #4318FF !important;
}
input[type="range"]::-webkit-slider-thumb{
    background-color:  #4318FF;
}
textarea{
    resize: none;
    border-radius: 22px !important;
}
h3{
    font-size: 24px;
    font-weight: 700;
    color: #2B3674;
}
.main-section-bg{
    background-color: #E9EDF2;
}
.bg-light{
    background-color: white !important;
}
.border-radius{
    border-radius: 22px;
}
.material-symbols-outlined{
    color: #4318FF;
    width: 24px;
    height: 28px;
}
input[type="file"]{
    display: none;
}
.img-upload{
    display: none;
    border: 1px solid #B2BAD0;
    border-style: dashed;
    border-radius: 13px;
    background-color: #FAFCFE;
}
.img-upload h6{
    color: #4318FF;
    font-size: 16px;
    font-weight: 700;
}
.img-upload p{
    color:#8F9BBA;
    font-size: 12px;
    font-weight: 500;
}
.card{
    border-radius: 22px;
}
.alert h6{
    font-size: 16px;
    font-weight:500; 
}
.alert p{
    font-size: 14px;
    font-weight: 400;
}
.measure-indication{
    width: 92px;
    height: 50px;
    border-radius: 16px;
    color: #2B3674;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    margin-left: 5px;
    background-color: white !important;
}
.measure-indication:focus{
    box-shadow: none !important;
    border: 1px solid #4318FF !important;
}
.form-label::after{
    content: "*";
    color: red;
}
.btn-radius{
    border-radius: 16px !important;
}
.btn-clr{
    background-color: #4318FF;
    color: white;
}
.light-clr-btn{
    background-color: #FAF9FF !important;
}
.small-btn{
    width: 122px !important;
}
.big-btn{
    width: 160px !important;
}
.btn{
    height:58px;
    font-size:15px;
    font-weight: 700;
}
.clr-text{
    color:#2B3674;
}
select{
    font-size: 10px !important;
    height: 37.47px !important;
}
::placeholder{
    font-size: 12px !important;
}